@color_1: #000000;
@color_2: #ffffff;
@color_3: #282828;
@font-family_1: 'Open Sans', sans-serif;

nav {
	background: #F2F2F2;
	display: block;
	font-family: @font-family_1;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
.menu {
	>li {
		float: left;
		position: relative;
		>a {
			color: @color_1;
			display: block;
			padding: 20px 30px;
			font-size: 16px;
			letter-spacing: 2px;
			&:hover {
				color: @color_2;
				background: #000000;
			}
		}
	}
}
.submenu {
	>li {
		>a {
			&:hover {
				color: @color_2;
				background: #000000;
			}
		}
	}
	position: absolute;
	border-top: 1px solid #CBCBCC;
	border-left: 1px solid #CBCBCC;
	border-right: 1px solid #CBCBCC;
	background: white;
	visibility: hidden;
	opacity: 0;
	min-width: 200px;
	li {
		position: relative;
		a {
			color: @color_3;
			display: block;
			padding: 10px 20px;
			font-size: 13px;
			border-bottom: 1px solid #CBCBCC;
		}
	}
	.submenu {
		position: absolute;
		left: 100%;
		top: -1px;
	}
	ul {
		width: 600px;
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
li {
	&:hover {
		>.submenu {
			visibility: visible;
			opacity: 1;
		}
	}
}
